<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="unauthorized" class="Cart-buttons">
    <div class="Cart-btn">
        <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                data-bookid="[1122]" th:attr="data-bookid = ${'postponed/move/' + book.slug}"><span class="btn-icon"><img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/></span><span class="btn-content" th:text="#{topbar.buy}">Купить</span>
        </button>
    </div>
    <div class="Cart-btn">
        <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                data-bookid="[1122]" th:attr="data-bookid = ${'postponed/remove/' + book.slug}"><span class="btn-icon"><img src="/assets/img/icons/trash.svg" alt="trash.svg"/></span><span class="btn-content" th:text="#{topbar.remove}">Удалить</span>
        </button>
    </div>
</div>

<div th:fragment="authorized" class="Cart-buttons">
    <div class="Cart-btn">
        <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                data-bookid="[1122]" th:attr="data-bookid = ${'move/authorized/' + book.slug}"><span class="btn-icon"><img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/></span><span class="btn-content" th:text="#{topbar.buy}">Купить</span>
        </button>
    </div>
    <div class="Cart-btn">
        <button class="btn btn_danger btn_outline" data-sendstatus="UNLINK"
                data-bookid="[1122]" th:attr="data-bookid = ${'remove/authorized/' + book.slug}"><span class="btn-icon"><img src="/assets/img/icons/trash.svg" alt="trash.svg"/></span><span class="btn-content" th:text="#{topbar.remove}">Удалить</span>
        </button>
    </div>
</div>